<div class="container-fluid">
  <h1>Contact us!</h1>
  <form>
    <h3>Please submit form below</h3>
    <div class="form-group">
      <label for="contact_name">Name</label>
      <input type="text" class="form-control" id="contact_name" maxlength="255" placeholder="Name Here">
    </div>
    <div class="form-group">
      <label for="form_email">Email</label>
      <input type="email" class="form-control" id="contact_email" maxlength="255" placeholder="Email Here">
    </div>
    <div class="form-group">
      <label for="form_comments">Comments Below</label>
      <textarea class="form-control" id="contact_comments" rows="6"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
