<!-- 	File Name: home.handlebars
	Author: Nathan Johnson & Ernest Kim
	Date: 11.14.2019 -->

  <img src="/static/images/car_1.jpg" class="img-fluid" alt="Car Hero Image">

  <div class="container-fluid">
    <h1>Welcome to the Amateur Race Circuit Database!</h1>

    <h3>What would you like to view/enter data for?</h3>

    <a href="/driver" class="btn btn-primary">Driver</a>
    <a href="/race" class="btn btn-primary">Race</a>
  </div>
